@charset "UTF-8";
@import 'http://geo-gvnix.rhcloud.com/resources/styles/standard.css';


body {
	background-color: black;
}
  .navbar.navbar-default.navbar-fixed-top{
  margin-top: 50px;
  }
  .sidebar.navbar-fixed-top{
   margin-top: 100px;
  }

  @media (min-width: 768px) and (max-width: 998px){
      .navbar.navbar-default.navbar-fixed-top{
      margin-top: 100px;
      }
      .sidebar.navbar-fixed-top{
       margin-top: 150px;
      }
   }

 .navbar.navbar-default{
   background-color: #f8f8f8;
   border-color: #e7e7e7;
   margin: 0;
   border-radius: 0;
 }
 .navbar.navbar-default .navbar-brand {
   color: #666;
   text-shadow: none;
   min-width: 150px;
   }
  .navbar.navbar-default .navbar-nav > li > a {
   color: #666;
   text-shadow: none;
   }
   .navbar.navbar-default .navbar-nav > li > a {
   color: #666;
   text-shadow: none;
   }
   .navbar.navbar-default .navbar-nav > li > a:hover{
   color: #acc47f;
   }
   .navbar.navbar-default .navbar-nav > .active > a{
   color: #fff;
   background-color: #acc47f;
   }
   .navbar.navbar-default .navbar-nav > .active > a:hover{
   color: #608224;
   background-color: #acc47f;
   }
   .navbar.navbar-default .caret {
   border-top-color: #ccc;
   border-bottom-color: #ccc;
   }
   .navbar.navbar-default .caret:hover {
   border-top-color: #333;
   border-bottom-color: #333;
   }

 nav.sidebar.navbar {
   border-radius: 0px;
 }

 nav.sidebar, .main{
   -webkit-transition: margin 200ms ease-out;
     -moz-transition: margin 200ms ease-out;
     -o-transition: margin 200ms ease-out;
     transition: margin 200ms ease-out;
 }

 .main{
   padding: 10px 10px 0 10px;
 }

 @media (min-width: 768px) {

   .main{
     position: absolute;
     width: calc(100% - 40px);
     margin-left: 40px;
     float: right;
   }

   nav.sidebar:hover + .main{
     margin-left: 200px;
   }

   nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
     margin-left: 0px;
   }

   nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
     text-align: center;
     width: 100%;
     margin-left: 0px;
   }

   nav.sidebar a{
     padding-right: 13px;
      min-width: 100px;
   }

       nav.sidebar ul.nav.navbar-nav{
           margin: 0;
       }
       nav.sidebar.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
           color: white;
       }

   nav.sidebar .navbar-nav > li:first-child{
     border-top: 1px #e5e5e5 solid;
   }

   nav.sidebar .navbar-nav > li{
     border-bottom: 1px #e5e5e5 solid;
   }

   nav.sidebar .navbar-nav > li:hover{
       color: #fff;
           background-color: #43600E;
   }

   nav.sidebar .navbar-nav > li.last{
     border-bottom: none;
   }

   nav.sidebar .navbar-nav .open .dropdown-menu {
     position: static;
     float: none;
     width: auto;
     margin-top: 0;
     background-color: transparent;
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
   }

   nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
     padding: 0 0 0 0;
   }

   .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
     color: #777;
   }

   nav.sidebar{
     width: 200px;
     height: 100%;
     margin-left: -220px;
     float: left;
     z-index: 8000;
     margin-bottom: 0;
   }

   nav.sidebar li {
     width: 100%;
   }

   nav.sidebar:hover{
       margin-left: -16px;  
   }

   .forAnimate{
     opacity: 0;
   }
 }

 @media (min-width: 1330px) {

 }

 nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
   color: #CCC;
   background-color: transparent;
 }

 nav:hover .forAnimate{
   opacity: 1;
 }
 
 .nav-side-menu {
 overflow: auto;
 font-family: verdana;
 font-size: 12px;
 font-weight: 200;
 background: #2e353d;
 position: fixed;
 top: 0px;
 width: 250px;
 height: 100%;
 color: #e1ffff;
}
.nav-side-menu .brand {
 background-color: #23282e;
 line-height: 50px;
 display: block;
 text-align: center;
 font-size: 14px;
}
.nav-side-menu .toggle-btn {
 display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
 list-style: none;
 padding: 0px;
 margin: 0px;
 line-height: 35px;
 cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
 font-family: FontAwesome;
 content: "\f078";
 padding-left: 10px;
 padding-right: 10px;
 vertical-align: middle;
 float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
 border-left: 3px solid #3dd1b1;
 background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
 color: #3dd1b1;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
 color: #3dd1b1;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
 background-color: #181c20;
 border: none;
 line-height: 28px;
 border-bottom: 1px solid #23282e;
 margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
 background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
 font-family: FontAwesome;
 content: "\f105";
 display: inline-block;
 padding-left: 10px;
 padding-right: 10px;
 vertical-align: middle;
}
.nav-side-menu li {
 padding-left: 0px;
 border-left: 3px solid #2e353d;
 border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
 text-decoration: none;
 color: #e1ffff;
}
.nav-side-menu li a i {
 padding-left: 10px;
 width: 20px;
 padding-right: 20px;
}
.nav-side-menu li:hover {
 border-left: 3px solid #3dd1b1;
 background-color: #4f5b69;
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -o-transition: all 1s ease;
 -ms-transition: all 1s ease;
 transition: all 1s ease;
}
@media (max-width: 767px) {
 .nav-side-menu {
   position: relative;
   width: 100%;
   margin-bottom: 10px;
 }
 .nav-side-menu .toggle-btn {
   display: block;
   cursor: pointer;
   position: absolute;
   right: 1px;
   top: 10px;
   z-index: 10 !important;
   padding: 3px;
   background-color: #ffffff;
   color: #000;
   width: 40px;
   text-align: center;
 }
 .brand {
   text-align: left !important;
   font-size: 22px;
   padding-left: 20px;
   line-height: 50px !important;
 }
}
@media (min-width: 767px) {
 .nav-side-menu .menu-list .menu-content {
   display: block;
 }
}
#team {
    margin: 20px;
}

.fa-heart:checked {
  color: black !important;
}

button {
  border: none;
  outline: none !important;
  margin: 10px 5px !important;
}

footer {
  position: fixed;
}

/* .artistImages {
	border-radius: 50%;
}

.container {
	maring-left: 20%;
} */

/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
} */

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* .container {
  position: relative;
  width: 50%;
  max-width: 300px;
  
} */

/* Make the image to responsive */
/* .image {
  display: block;
  width: 200px;
  height: 200px;
  z-index: 10000;
  border-radius: 50%;
} */

/* The overlay effect - lays on top of the container and over the image */
/* .overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); Black see-through
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
} */

/* When you mouse over the container, fade in the overlay title */
/* .container:hover .overlay {
  opacity: 1;
} */


.card {
    float: left;
    width: 24.333%;
    padding: .75rem;
    /* margin-bottom: 2rem; */
    border: 0;
    background-color: black;
}
.card {
	margin-left: 5.7%; 
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: black;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.album {
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: black;
}
@media (min-width: 1200px){
    .container {
        width: 1140px;
        max-width: 100%;
    }
}


.artistImg {
	margin-left: 20%;
	opacity: 0.4;
	border-radius: 20px;
}
/* @media (min-width: 992px) {
    .container {
    width: 960px;
    max-width: 100%;
}
}
@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
}

}
@media (min-width: 576px){
    .container {
        width: 540px;
        max-width: 100%;
}

}
@media (min-width: 1200px){
    .container {
        padding-right: 15px;
        padding-left: 15px;
}

}
@media (min-width: 992px){
    .container {
        padding-right: 15px;
        padding-left: 15px;
}

}
@media (min-width: 768px){
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 576px){
    .container {
        padding-right: 15px;
        padding-left: 15px;
} */


.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
/* .one-word-per-line {
    word-spacing: 10000px; 
}  */
p{
	margin-bottom:0px;
	margin-right: 25%;
	text-align: center;	
	font-size: 10px;
 /*   width: min-intrinsic;
   width: -webkit-min-content;
   width: -moz-min-content;
   width: min-content;
   display: table-caption;
   display: -ms-grid;
   -ms-grid-columns: min-content; */
   /* word-break: break-all; */
   
 }

 /* p {
 	margin-right: 25%;
 	text-align: center;
 	ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    overflow:hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
 } */


 .search{
  top: 0;
  bottom: auto;
  position: absolute;
  margin: 0;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
} 

input.transparent-input{
    background-color:transparent !important;
    border:none !important;
 }
 h1.name {
 	text-align: center;
 	font-size: 40px;
 	color:white;
 	margin-bottom: 4%;
 }
 
 h2 {
 	text-align: center;
 }

h5  {
	text-align: center;
}

#newReview {
	margin-left: 45%;
	
}

 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}



textarea.form-control {
    height: auto;
}
.form-control {
    display: block;
    width: 20%;
   height: calc(1.5em + .75rem + 2px); 
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: transparent;
}
textarea {
    overflow: auto;
    resize: vertical;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.review-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.review-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  /* height: 25px; */
}

.col-md-4 {
  margin-left: 30%;
  margin-bottom: 3%;
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
.review-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

.reviews {
	/* margin-left: 20%;
	margin-bottom: 10% */;
}

.testimonial-box img {
    display: inline-block;
    width: 90px;
    height:90px;
    border-radius: 50%;
    margin: 0 0 15px;
}
.testimonial-box h4 {
    color: #fe4819;
}
.testimonial-box p {
    margin-bottom: 20px;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
}
.ratings-icons {
    color: #fec42d;
    margin-bottom: 15px;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items form,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


