@charset "UTF-8";

body {
	background-color: black;
}
  .navbar.navbar-default.navbar-fixed-top{
  margin-top: 50px;
  }
  .sidebar.navbar-fixed-top{
   margin-top: 100px;
  }

  @media (min-width: 768px) and (max-width: 998px){
      .navbar.navbar-default.navbar-fixed-top{
      margin-top: 100px;
      }
      .sidebar.navbar-fixed-top{
       margin-top: 150px;
      }
   }

 .navbar.navbar-default{
   background-color: #f8f8f8;
   border-color: #e7e7e7;
   margin: 0;
   border-radius: 0;
 }
 .navbar.navbar-default .navbar-brand {
   color: #666;
   text-shadow: none;
   min-width: 150px;
   }
  .navbar.navbar-default .navbar-nav > li > a {
   color: #666;
   text-shadow: none;
   }
   .navbar.navbar-default .navbar-nav > li > a {
   color: #666;
   text-shadow: none;
   }
   .navbar.navbar-default .navbar-nav > li > a:hover{
   color: #acc47f;
   }
   .navbar.navbar-default .navbar-nav > .active > a{
   color: #fff;
   background-color: #acc47f;
   }
   .navbar.navbar-default .navbar-nav > .active > a:hover{
   color: #608224;
   background-color: #acc47f;
   }
   .navbar.navbar-default .caret {
   border-top-color: #ccc;
   border-bottom-color: #ccc;
   }
   .navbar.navbar-default .caret:hover {
   border-top-color: #333;
   border-bottom-color: #333;
   }

 nav.sidebar.navbar {
   border-radius: 0px;
 }

 nav.sidebar, .main{
   -webkit-transition: margin 200ms ease-out;
     -moz-transition: margin 200ms ease-out;
     -o-transition: margin 200ms ease-out;
     transition: margin 200ms ease-out;
 }

 .main{
   padding: 10px 10px 0 10px;
 }

 @media (min-width: 768px) {

   .main{
     position: absolute;
     width: calc(100% - 40px);
     margin-left: 40px;
     float: right;
   }

   nav.sidebar:hover + .main{
     margin-left: 200px;
   }

   nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
     margin-left: 0px;
   }

   nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
     text-align: center;
     width: 100%;
     margin-left: 0px;
   }

   nav.sidebar a{
     padding-right: 13px;
      min-width: 100px;
   }

       nav.sidebar ul.nav.navbar-nav{
           margin: 0;
       }
       nav.sidebar.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
           color: white;
       }

   nav.sidebar .navbar-nav > li:first-child{
     border-top: 1px #e5e5e5 solid;
   }

   nav.sidebar .navbar-nav > li{
     border-bottom: 1px #e5e5e5 solid;
   }

   nav.sidebar .navbar-nav > li:hover{
       color: #fff;
           background-color: #43600E;
   }

   nav.sidebar .navbar-nav > li.last{
     border-bottom: none;
   }

   nav.sidebar .navbar-nav .open .dropdown-menu {
     position: static;
     float: none;
     width: auto;
     margin-top: 0;
     background-color: transparent;
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
   }

   nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
     padding: 0 0 0 0;
   }

   .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
     color: #777;
   }

   nav.sidebar{
     width: 200px;
     height: 100%;
     margin-left: -220px;
     float: left;
     z-index: 8000;
     margin-bottom: 0;
   }

   nav.sidebar li {
     width: 100%;
   }

   nav.sidebar:hover{
       margin-left: -16px;  
   }

   .forAnimate{
     opacity: 0;
   }
 }

 @media (min-width: 1330px) {

 }

 nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
   color: #CCC;
   background-color: transparent;
 }

 nav:hover .forAnimate{
   opacity: 1;
 }
 
 .nav-side-menu {
 overflow: auto;
 font-family: verdana;
 font-size: 12px;
 font-weight: 200;
 background: #2e353d;
 position: fixed;
 top: 0px;
 width: 250px;
 height: 100%;
 color: #e1ffff;
}
.nav-side-menu .brand {
 background-color: #23282e;
 line-height: 50px;
 display: block;
 text-align: center;
 font-size: 14px;
}
.nav-side-menu .toggle-btn {
 display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
 list-style: none;
 padding: 0px;
 margin: 0px;
 line-height: 35px;
 cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
 font-family: FontAwesome;
 content: "\f078";
 padding-left: 10px;
 padding-right: 10px;
 vertical-align: middle;
 float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
 border-left: 3px solid #3dd1b1;
 background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
 color: #3dd1b1;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
 color: #3dd1b1;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
 background-color: #181c20;
 border: none;
 line-height: 28px;
 border-bottom: 1px solid #23282e;
 margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
 background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
 font-family: FontAwesome;
 content: "\f105";
 display: inline-block;
 padding-left: 10px;
 padding-right: 10px;
 vertical-align: middle;
}
.nav-side-menu li {
 padding-left: 0px;
 border-left: 3px solid #2e353d;
 border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
 text-decoration: none;
 color: #e1ffff;
}
.nav-side-menu li a i {
 padding-left: 10px;
 width: 20px;
 padding-right: 20px;
}
.nav-side-menu li:hover {
 border-left: 3px solid #3dd1b1;
 background-color: #4f5b69;
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -o-transition: all 1s ease;
 -ms-transition: all 1s ease;
 transition: all 1s ease;
}
@media (max-width: 767px) {
 .nav-side-menu {
   position: relative;
   width: 100%;
   margin-bottom: 10px;
 }
 .nav-side-menu .toggle-btn {
   display: block;
   cursor: pointer;
   position: absolute;
   right: 1px;
   top: 10px;
   z-index: 10 !important;
   padding: 3px;
   background-color: #ffffff;
   color: #000;
   width: 40px;
   text-align: center;
 }
 .brand {
   text-align: left !important;
   font-size: 22px;
   padding-left: 20px;
   line-height: 50px !important;
 }
}
@media (min-width: 767px) {
 .nav-side-menu .menu-list .menu-content {
   display: block;
 }
}
#team {
    margin: 20px;
}

.fa-heart:checked {
  color: black !important;
}

button {
  border: none;
  outline: none !important;
  margin: 10px 5px !important;
}

footer {
  position: fixed;
}
 .search{
  top: 0;
  bottom: auto;
  position: absolute;
  margin: 0;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
} 

input.transparent-input{
    background-color:transparent !important;
    border:none !important;
 }

/* End of the Nav bar */




.square, .btn {
    border-radius: 0px!important;
}

/* -- color classes -- */
.coralbg {
    background-color: #FA396F;
} 

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:200px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 25px;
    background-color: #46D8D2;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #46D8D2;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-image {
  max-height:200px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square, .btn {
    border-radius: 0px!important;
}

/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}

.container {
	margin-top: 10%;
}

.reviewUser {
	margin-left: 50%;
}